* {
  padding: 0;
  margin: 0;
}

.menu {
  /* background-image: url('../Assets/img/background_1.jpg'); */
  background-size: contain;
  background-repeat: no-repeat;
  height: 600px;
  padding: 10px;
  position: absolute;
  top: 0%;
  left: 50%;
  /* color: white; */
}

.margin {
  margin-bottom: 10px;
}

/* .game {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: red;
} */

/* .test {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: blue;
  top: 100px;
  z-index: 10;
} */
